#checkPie,
#cityBar,
#cityLine,
#figureOne,
#circleCase,
#envIssue {
  width: 100%;
  height: 100%;
}

#figureTwo {
  width: 40%;
  height: 100%;
}

#figureThree {
  width: 75%;
  height: 100%;
}

main {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

article:nth-child(1) {
  width: 28%;
  padding: 0 5px;
}

article:nth-child(2) {
  width: 40%;
}

article:nth-child(3) {
  width: 30%;
}

footer {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 5px;
}

section {
  position: relative;
  border: 1px solid #1A2545;
}

.border {
  position: absolute;
  padding: 5px;
  border-style: solid;
  border-color: #375273;
}

.row1 {
  border-width: 5px 0 0 5px;
  top: -5px;
  left: -5px;
}

.row2 {
  border-width: 5px 5px 0 0;
  top: -5px;
  right: -5px;
}

.col1 {
  border-width: 0 0 5px 5px;
  bottom: -5px;
  left: -5px;
}

.col2 {
  border-width: 0 5px 5px 0;
  bottom: -5px;
  right: -5px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
}